<nav class="col-md-3 col-lg-2 d-md-block bg-light sidebar p-3">
    <h5>Menu</h5>
    <ul class="nav flex-column">
        <li class="<%= active === 'home' ? 'active' : '' %>">
            <a class="nav-link" href="/">Home</a>
        </li>
        <li class="<%= active === 'find' ? 'active' : '' %>">
            <a class="nav-link" href="/find">Find a Dog/Cat</a>
        </li>
        <li class="<%= active === 'dog-care' ? 'active' : '' %>">
            <a class="nav-link" href="/dog-care">Dog Care</a>
        </li>
        <li class="<%= active === 'cat-care' ? 'active' : '' %>">
            <a class="nav-link" href="/cat-care">Cat Care</a>
        </li>
        <li class="<%= active === 'give-away' ? 'active' : '' %>">
            <a class="nav-link" href="/give-away">Have a Pet to Give Away</a>
        </li>
        <li class="<%= active === 'contact-us' ? 'active' : '' %>">
            <a class="nav-link" href="/contact-us">Contact Us</a>
        </li>
    </ul>
</nav>